h2.fibonacciness0 {
  color: Red;
  font-size: 114.5%;
}

h3.fibonacciness0 {
  color: Red;
  font-size: 106.8%;
}

h4.fibonacciness0 {
  color: Red;
  font-size: 102.9%;
}

h5.fibonacciness0 {
  color: Red;
  font-size: 101%;
}

.color0 {
  color: Red;
  font-weight: bold;
}

h2.fibonacciness1 {
  color: Green;
  font-size: 117.5%;
}

h3.fibonacciness1 {
  color: Green;
  font-size: 110%;
}

h4.fibonacciness1 {
  color: Green;
  font-size: 105%;
}

h5.fibonacciness1 {
  color: Green;
  font-size: 102.5%;
}

.color1 {
  color: Green;
  font-weight: bold;
}

h2.fibonacciness2 {
  color: Blue;
  font-size: 118.8%;
}

h3.fibonacciness2 {
  color: Blue;
  font-size: 111.3%;
}

h4.fibonacciness2 {
  color: Blue;
  font-size: 107.5%;
}

h5.fibonacciness2 {
  color: Blue;
  font-size: 103.8%;
}

.color2 {
  color: Blue;
  font-weight: bold;
}

h2.fibonacciness3 {
  color: Magenta;
  font-size: 120%;
}

h3.fibonacciness3 {
  color: Magenta;
  font-size: 115%;
}

h4.fibonacciness3 {
  color: Magenta;
  font-size: 110%;
}

h5.fibonacciness3 {
  color: Magenta;
  font-size: 105%;
}

.color3 {
  color: Magenta;
  font-weight: bold;
}

h2.fibonacciness4 {
  color: Olive;
  font-size: 124%;
}

h3.fibonacciness4 {
  color: Olive;
  font-size: 118%;
}

h4.fibonacciness4 {
  color: Olive;
  font-size: 112%;
}

h5.fibonacciness4 {
  color: Olive;
  font-size: 106%;
}

.color4 {
  color: Olive;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 50px;
  margin: 3px;
}

.h1 {
  font-size: 130%;
  width: 100%;
}

.h6 {
  font-size: 100%;
  clear: both;
  width: 100%;
}

.floater {
  float: left;
}
